/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* confg */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fcfcfc;
    font-family: "Inter", sans-serif;
}

/* ========= HEADER ========= */
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 1.5vh;
}
#LetrerosHermes{
    font-size: clamp(3.5rem ,9vw, 12rem);
    font-weight: bold;
}
#desc{
    font-size: clamp(1.2rem, 1.2vw, 2rem);
    font-weight: 500;
    color: #555555;
    margin: 1rem;
}
#header_container{
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
/* WHATSAPP BTN */
.btn-whatsapp{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 1rem 2rem;
    background: #25D366;
    color: #fff;
    font-size: clamp(1.18rem, 1.2vw, 1.5rem);
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    border: 2px solid #dddddd;
}
.btn-whatsapp:hover{
    background: #1ebe5d;
    transform: translateY(-1px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

/* ========= HERO IMAGE ========= */
.hero-containter{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1.5vh;
}
#hero-image{
    border-radius: 16px;
    max-width: 80%;
    height: auto;
}

/* ========= CONTENT ========= */
.block1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 4vw 2vw;
}
.text-container-1{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    width: 50vw;
    padding-left: 7vw;     
}
.text-container-1 ul {
    list-style: inside;
    padding: 0;
}
#title-1{
    font-size: clamp(3.5rem ,3.5vw, 10rem);
}
.text-1{
    font-size: clamp(1rem, 1.3vw, 2rem);
}
.image-container-1{
    flex: 1;
    display: flex;
    justify-content: center;
    width: 40vw;
}
#image-1{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}
@media(max-width: 900px){
    .block1 {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .text-container-1 {
        width: 80vw;
        padding: 0;
    }
    .image-container-1 {
        width: 100%;
    }
    #image-1 {
        width: 100%;
        max-width: 400px;
    }
}

/* ========= FOOTER ========= */
.footer{
    display: flex;
    background: linear-gradient(
        0deg,
        #202020 0%,
        #AAAAAA 50%,
        #65d6ce00 100%
    );
    width: 100%;
    height: 30vh;
}